<div id="top">
  <!-- ##### About ##### -->
  <!-- <div id= "about top", class="banner" style="background-image: linear-gradient(-225deg, rgba(238,232,200,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dkvqyjtzb/image/upload/v1496077487/17097166_374830502898846_7759038778929024717_o_kiijjl.jpg');">
    <div class="banner-content">
      <h1>About</h1>
      <p>A team of fun and passionate improvisers</p>
      <!-- <a class="btn btn-primary btn-lg">Meet the team</a> -->
    <!-- </div> -->
  <!-- </div> -->


  <div class="static-pages">
    <h4> Improvisational Theatre </h4>

    <p class="smaller-font">
      Improvisational theatre is an art form in which performers get on stage and create stories completely in the moment, without using a script. The characters, plot, dialogue and story are created spontaneously, based on audience suggestions and each other's inspiration.
    </p>

    <h4> Applied Improvisation </h4>

    <p class="smaller-font">
      In addition to its growing popularity as a performance art, training in the art form's soft skills has become immensely popular with Fortune 500 companies, universities, start-ups and many other organisations around the world. Teaching, public speaking, communications, team building, leadership, language learning, creativity, innovation and well-being are some of the many areas that can benefit hugely though applied improvisation.
    </p>


    <h4> Where do we come in? </h4>

    <p class="smaller-font">
      ImproBubble was established to offer the wide range of benefits of improvisational theatre and applied improvisation to Brussels' international scene. Enroll in one of our weekly classes, come see our talented improvisers work their magic on stage, or get your company to book us for one of our corporate training programmes, tailored to your exact needs.
    </p>
  </div>

</div>
