<div id="top">

  <!-- ##### Corporate ##### -->
  <!-- <div id= "corporate", class="banner" style="background-image: linear-gradient(-225deg, rgba(139,165,164,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dkvqyjtzb/image/upload/v1503308545/170208aospecialkellycircle_htqnup.jpg');">
    <div class="banner-content">
      <h1>Corporate</h1>
      <p>Did you ever consider improvisation?</p>
      <!-- <a class="btn btn-primary btn-lg">Book a session</a> -->
      <!-- </div> -->
      <!-- </div> -->

      <div class="static-pages">

        <h4> <i>Here are some  of our most popular training courses: </i></h4>

        <h4> Teambuilding </h4>

        <p class="smaller-font">
          The act of improvising on stage is typically not done alone, but by a group of performers who are inspired by and support each other to create a meaningful and entertaining story. Improvisers use a series of principles and exercises to hone their craft; they learn to listen with intent; to accept each other's ideas instead of shooting them down and to set aside ego for the common good. This creates a positivity infused environment where mistakes are forgiven (even celebrated!), ideas are built upon and anything and everything becomes possible.
        </p>


        <h4> Communications </h4>
        <p class="smaller-font">
          Skilful speakers are master storytellers. They know how to capture their audience’s imagination both with their content and with their delivery. What makes them great communicators is their ability to influence others through their delivery, whatever the message or the situation. But how do you know when you’re really having an impact? What can you do practically to improve your skills and, for those who don't like speaking in public, calm your nerves?
        </p>
        <p class="smaller-font">
          Good theatrical improvisation relies on the ability of improvisers to act as storytellers; through their use of narrative and through their choices as characters, through what they say (and also what they don't say), these players take their audience on a journey with them immersing them fully in their story and their characters' fate.
        </p>

        <h4> <i> Empowering Women at Work </i> </h4>
        <p class="smaller-font">
          Women are advancing in the workplace more than ever before; however, the higher they get up the career ladder, the fewer there are that make it to the top. While employment conditions and company cultures are supporting the rise of women more than ever before, they still face many challenges. Though some of the solutions require more large-scale societal change, there are some learnt behavioural patterns that we can work on, if we are made aware of them first. This is where improvisation can be used as a tool for female empowerment.
        </p>


        <h4> <i> Looking for something else? </i></h4>
        <p class="smaller-font">
          Every individual, every team and every company are unique. Contact us on info@improbubble.com and we'll set up a meeting to create a training programme that's tailor made to your specific needs!
        </p>

      </div>

    </div>
