<div id="top">
  <!-- ##### School ##### -->
  <!-- <div id= "school", class="banner" style="background-image: linear-gradient(-225deg, rgba(249,205,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dkvqyjtzb/image/upload/v1503510793/school_kelly_tjtowp.jpg');">
    <div class="banner-content">
      <h1>School</h1>
      <p>Find yourself and develop your improvisation skills</p>
      <! <a class="btn btn-primary btn-lg">Learn now</a> -->
      <!-- </div> -->
      <!-- </div>  -->

      <div class="static-pages">

        <h4> Free drop in class: Introduction to Improvisation </h4>
        <p class="smaller-font">
          <b>
            Date: Sunday, September 24 <br>
            Time: 17:00-19:00<br>
            Venue: CliqueArt, Rue de l'Eglise 90, 1150 Brussels, Belgium<br>
          </b>
        </p>
        <p class="smaller-font">
          Ever wanted to dip your toes into the wonderful world of improvisation? Now's your chance! Our instructors, Ben Hartwig and Kelly Agathos, will be teaching a free drop in class, introducing the basics of improv.  No theatre or comedy experience is necessary, just an open mind and a willingness to get out of your comfort zone. Wear comfortable clothing you can move around in freely and be prepared to laugh. <br>A lot.
          <br>
        </p>
        <p class="smaller-font">
          After the class ends, we invite you to stick around for some drinks and nibbles. You'll get to learn more about our weekly classes (see description below), meet some of the current ImproBubble students, and if you're feeling playful, jump into an improv jam with them!
          <br>
          Registration: <%= mail_to "info@improbubble.com" %> to register your interest
        </p>

        <h4> Weekly Improv Classes for Beginners (Level 1) </h4>
        <p class="smaller-font">
          <b>
            Dates: Every Tuesday evening, 10/10-22/11 (except 31/10) <br>
            Time: 19:00-21:30<br>
            Venue: CliqueArt, Rue de l'Eglise 90, 1150 Brussels, Belgium<br>
            Price: 160 euro<br>
          </b>
        </p>
        <p class="smaller-font">
          ImproBubble invites you to discover the wonderful world of improv in this tailor made Beginners' course! Spaced over 6 weeks, these 6 classes will focus on the basic principles of improvisation. We will work on failing good naturedly, the benefits of saying yes, letting our partners shine, and trust and connection.
        </p>
        <p class="smaller-font">
          This course is perfect for those who are intrigued by improvisational theatre and want to try it out for themselves, but also for those who have no interest in treading the stage boards. If you want to increase your confidence and self-awareness, your communication and listening skills, if you want to reframe your relationship with failure and take more risks, to explore the boundless possibilities of your imagination and discover new things about yourself, then this course is for you!
        </p>
        <p class="smaller-font">
          No previous theatre experience is necessary, just an open mind and a willingness to get out of your comfort zone.
          Book the beginners' course now, expand your horizons and join the fun!
          Registration: <%= mail_to "info@improbubble.com" %> to book your spot on this course
        </p>
        <h4> About the Instructors </h4>
        <div class="container-fluid">
          <div class="row nopadding">
            <div class="col-xs-12 col-lg-3 nopadding">
              <div class="school-image" style="background-image: url('http://res.cloudinary.com/dkvqyjtzb/image/upload/v1504540743/kelly_highres_2_of_3_1_j5vsn4.jpg');">
              </div>
            </div>
            <br>
            <div class="col-xs-12 col-lg-9 nopadding">
              <p class="smaller-font"> <b>Kelly Agathos</b> is the founder of ImproBubble, Brussels' newest school of improvisation, catering directly to the EU capital's international community.
              </p>
              <p class="smaller-font">
                Kelly was introduced to improvisational theatre in 2010 and was instantly hooked. A few years later, Kelly helped create ATC Improv, Brussels’ first Anglophone improvisation society, for which she continues to and organise workshops with internationally acclaimed guest improvisers. Kelly is currently the artistic director of The Ghost Sheep and part of the newly established duo, The Bookends, performing regularly both in Brussels and abroad.
                <br>
                Since 2014, Kelly has been delivering the benefits of improvisation through corporate trainings, teambuilding sessions and performances for company events. Kelly is passionate about using improvisation as a tool to foster greater self-awareness, confidence, collaboration, communication and leadership qualities, both in individuals and teams.
              </p>
            </div>
          </div>
        </div>
        <br>

        <div class="container-fluid">
          <div class="row nopadding">
            <div class="col-xs-12 col-lg-3 nopadding">
              <div class="school-image" style="background-image: url('http://res.cloudinary.com/dkvqyjtzb/image/upload/v1504539249/_MG_3229_curawv.jpg');">
              </div>
            </div>
            <br>
            <div class="col-xs-12 col-lg-9 nopadding">
              <p class="smaller-font">
                <b>Ben Hartwig </b> grew up in a small village close to Hamburg in Germany. His family ran a bakery and he began his career baking cakes. Throughout later years, he acquired a PhD in Genetics, traveled the world and became an actor, trainer and entrepreneur. With his company Neuroplay, he combines science, acting and personal development to help people live a meaningful and productive life.
                <br>
                Ben joined ImproBubble to teach the art of improvisation and supported Kelly in creating this course. He passes on the knowledge he has acquired in more than a thousand shows performed on five continents. Ben currently lives between Cologne and Brussels and is a member of two of Germany’s most famous improvisation theatres.
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
              </p>
            </div>
          </div>
        </div>

        <br>
      </div>
    </div>

