<div id="top">
  <!-- ##### Shows ##### -->
  <!-- <div id= "shows", class="banner" style="background-image: linear-gradient(-225deg, rgba(139,165,164,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dkvqyjtzb/image/upload/v1503243167/19756646_435723323476230_8655779729754200274_n_rve8zv.jpg');">
    <div class="banner-content">
      <h1>Shows</h1>
      <p>Very cool shows coming up</p>
      <! <a class="btn btn-primary btn-lg">Book a session</a> -->
      <!-- </div> -->
      <!-- </div> -->


      <div class="static-pages">

        <p class="smaller-font">
          ImproBubble invites world renown improvisers to perform in Brussels with its talented local cast! Be sure to sign up to our newsletter to be kept up to date with upcoming performances.
        </p>
        <p class="smaller-font">
          We also perform bespoke shows at company events and corporate trainings.
        </p>
        <p class="smaller-font">
          Contact us to find out more at: info@improbubble.com
        </p>
      </div>
    </div>
