<div id="top">
  <!-- ##### Shows ##### -->
  <!-- <div id= "shows", class="banner" style="background-image: linear-gradient(-225deg, rgba(139,165,164,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dkvqyjtzb/image/upload/v1503243167/19756646_435723323476230_8655779729754200274_n_rve8zv.jpg');">
    <div class="banner-content">
      <h1>Shows</h1>
      <p>Very cool shows coming up</p>
      <! <a class="btn btn-primary btn-lg">Book a session</a> -->
      <!-- </div> -->
      <!-- </div> -->


      <div class="static-pages">
        <p class="smaller-font">
          ImproBubble invites world renown improvisers to perform in Brussels with its talented local cast! Be sure to sign up to our newsletter to be kept up to date with upcoming performances.
        <br>
          We also perform bespoke shows at company events and corporate trainings.
        </p>
        <div id= "about top", class="event-banner" style="background-image: linear-gradient(-225deg, rgba(238,232,200,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dkvqyjtzb/image/upload/v1504537153/DSC_0609_yd1qim.jpg');">
        </div>
        <br>
        <p class="smaller-font">
          <b>
            Saturday 16 September 20:00 -
            ImproBubble presents: The Bookends and friends <br> </b>
            CliqueArt (90, Rue de l'Eglise, 1150 Brussels)<br>
            Tickets: 10 euro per person
          </p>
          <p class="smaller-font">
            For our first improv show of the season, we've invited the literature inspired improv duo, The Bookends, along with some fantastic Belgian improvisors to perform in a unique double bill!
          </p>
          <p class="smaller-font">
            Come be mesmerized by the stories Bart and Kelly weave together, taking their inspiration from the books you're reading (so be sure to bring one with you to the show!). In part 2, a group of talented improvisers from all over Belgium will take to the stage and perform an unforgettable, freeform show, all inspired in the moment, by the audience's suggestions.
          </p>
          <p class="smaller-font">
            There will be a 15 minute break between the shows and refreshments will be available at the bar before and after. <br>            Tickets are available on the door.
          </p>

          <p class="smaller-font">
            Contact us to find out more at <%= mail_to "info@improbubble.com" %>
          </p>
        </div>
      </div>
