<div id="top">
  <!-- ##### About ##### -->
  <!-- <div id= "about top", class="banner" style="background-image: linear-gradient(-225deg, rgba(238,232,200,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dkvqyjtzb/image/upload/v1496077487/17097166_374830502898846_7759038778929024717_o_kiijjl.jpg');">
    <div class="banner-content">
      <h1>About</h1>
      <p>A team of fun and passionate improvisers</p> -->
      <!-- <a class="btn btn-primary btn-lg">Meet the team</a> -->
      <!-- </div> -->
      <!-- </div> -->


      <div class="static-pages">

        <blockquote>
          <p class="smaller-font">The ImproBubble course is a safe space for creative experimentation, a great mood booster on a Monday night, generating enough positive energy to keep you going through the working week. Kelly and Ben are both fantastic teachers - enthusiastic about improv, inspiring for their students and supporting our development.Thanks to the course I have met wonderful people and I feel privileged to be part of this growing Improv community in Brussels.</p>
          <footer>— Kasia Jurczak </footer>
        </blockquote>

        <blockquote>
          <p class="smaller-font"> I started taking improv classes at ImproBubble because I wanted to improve my story-telling skills whilst running a role-playing game for friends. Kelly and Ben have provided me with a versatile and diverse toolbelt of improv techniques that have made my games more lively, dynamic and player driven. I now look forward to next occasion my players throw our game entirely off course! </p>
          <footer>— Alex Sassmannshausen </footer>
        </blockquote>

        <blockquote>
          <p class="smaller-font">In only a few hours time, Kelly manages to make everyone feel completely at ease, introduce them to the theory and advantages of improv and let them experience the lessons improv teaches you.</p>

          <p class="smaller-font">I am convinced by participating in her workshop that improve can help anyone, especially people in corporate settings. Dealing with criticism, increasing your self-confidence and letting go of your fear of failure are only a few of the many skills you learn here.</p>

          <p class="smaller-font">On top of that, Kelly is a great teacher and a lovely and fun person to be around, so it is entertaining at the same time. I absolutely recommend it and I will be back with my colleagues!”</p>
          <footer>— Noemi Blumberg </footer>
        </blockquote>

      </div>
    </div>
