<div id="top">
  <!-- ##### About ##### -->
  <!-- <div id= "about top", class="banner" style="background-image: linear-gradient(-225deg, rgba(238,232,200,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dkvqyjtzb/image/upload/v1496077487/17097166_374830502898846_7759038778929024717_o_kiijjl.jpg');">
    <div class="banner-content">
      <h1>About</h1>
      <p>A team of fun and passionate improvisers</p> -->
      <!-- <a class="btn btn-primary btn-lg">Meet the team</a> -->
      <!-- </div> -->
      <!-- </div> -->


      <div class="static-pages">

        <blockquote>
          <i><p class="smaller-font"> The ImproBubble course is a safe space for creative experimentation, a great mood booster on a Monday night, generating enough positive energy to keep you going through the working week. Kelly and Ben are both fantastic teachers - enthusiastic about improv, inspiring for their students and supporting our development.Thanks to the course I have met wonderful people and I feel privileged to be part of this growing Improv community in Brussels.
          </p></i>
          <footer> Kasia Jurczak </footer>
        </blockquote>

        <blockquote>
          <i><p class="smaller-font"> I started taking improv classes at ImproBubble because I wanted to improve my story-telling skills whilst running a role-playing game for friends. Kelly and Ben have provided me with a versatile and diverse toolbelt of improv techniques that have made my games more lively, dynamic and player driven. I now look forward to next occasion my players throw our game entirely off course!
          </p></i>
          <footer> Alex Sassmannshausen </footer>
        </blockquote>

        <blockquote>
          <i><p class="smaller-font">In only a few hours time, Kelly manages to make everyone feel completely at ease, introduce them to the theory and advantages of improv and let them experience the lessons improv teaches you.</p>

          <p class="smaller-font">I am convinced by participating in her workshop that improve can help anyone, especially people in corporate settings. Dealing with criticism, increasing your self-confidence and letting go of your fear of failure are only a few of the many skills you learn here.</p>

          <p class="smaller-font">On top of that, Kelly is a great teacher and a lovely and fun person to be around, so it is entertaining at the same time. I absolutely recommend it and I will be back with my colleagues!
          </p></i>
          <footer> Noemi Blumberg </footer>
        </blockquote>

        <blockquote>
          <i><p class="smaller-font">Kelly’s improvisation workshop puts you “out of your comfort zone” in a very  “comfortable” way. In just a couple of hours , Kelly was able to give me useful tips on how to react quickly and appropriately in unexpected situations, how to be an active listener and how to engage an audience of strangers. Kelly did this in an extremely entertaining and professional way. Her enthusiasm gave me a real energy boost! I would definitely recommend Kelly’s workshop to anyone willing to learn how to feel at ease in any (professional and non- professional) setting!
          </p></i>
          <footer> Stephanie Rosello </footer>
        </blockquote>

        <blockquote>
          <i><p class="smaller-font">
          I took an improvisation workshop with Kelly, which really inspired me. Kelly taught us that failing is part of a learning process; she showed us how to accept and to deal with failing, with a smile. Through some fun exercises, she showed us how important it is in a team to listen to each other, and to say "yes" to someone else's ideas. They just might be worth while exploring. I'll definitely apply some of the key take-aways in my job, and in my personal life.
        </p></i>
        <footer> Maia Santens </footer>
      </blockquote>


      <blockquote>
        <i><p class="smaller-font">
          If you are looking to get out of your comfort zone, but in a way that is safe and tons of fun, try Impro Bubble! Among many other concepts, you will learn to
          <br>
          1. TRUST: a) in your own impulses, ideas, skills... b) in your partner c) in the moment
          <br>
          Everything you need to make the scene is right here and now, not in the future, not in the past, not in another place.
          <br>
          2. Be happy if you make a mistake or "fail” (it means that you took a risk)
          <br>
          3. Always accept what you are given (aka suggestions from your improve partner) as if you had come up with them yourself (and from there build on them, rather than judging them as stupid and dismissing them).
          <br>
          If this sounds like Life Therapy, it really is, just that you will laugh your belly out in the process.
          <br>
          Kelly and Ben are both great instructors, who will side-coach you in a very constructive and empowering way. You will make lots of new friends, too. Absolutely recommended!
      </p></i>
      <footer> Claudia Kaiser </footer>
    </blockquote>

  </div>
</div>
