// Your footer style
// newsletter fields

.newsletter_flash {
  z-index: 100;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  padding-top: 52px;
}

.inline {
  display: inline;
}
